mixin filter
	.filter-inside
		form.form.form--filter
			.form__row
				.form__field
					label.form__field-label Город
					select.form__field-select.js-select
						option Все
						option Москва
						option Санк-Петербург
						option Челябинск
				.form__field
					label.form__field-label Площадка
					select.form__field-select.js-select
						option Все
						option Регинас Профи
						option Регинас Профи 2
						option Регинас Профи длинное название
				.form__field.form__field--order-md-1
					a(href="#").form__save-result Сохранить поиск
			.form__row
				.form__field
					label.form__field-label Уникальный идентификатор
					select.form__field-select.js-select
						option Уникальный идентификатор
						option Уникальный идентификатор2
						option Уникальный идентификатор3
				.form__field
					label.form__field-label Марка
					select.form__field-select.js-select
						option LADA (ВАЗ)
						option LADA (ВАЗ) 2
						option LADA (ВАЗ) 3
				.form__field
					label.form__field-label Модель
					select.form__field-select.js-select
						option Калина
						option Ларгус
						option Веста
						option Приора
						option Нива
			.form__row
				.form__field
					label.form__field-label Коробка
					select.form__field-select.js-select
						option Автомат(роботизированный)
						option Механика
				.form__field
					label.form__field-label Двигатель
					select.form__field-select.js-select
						option 1.4л
						option 1.6л
						option 1.8л
				.form__field
					label.form__field-label Пробег, км
					input(type="text" id="inp_01").form__field-input
			.form__row
				.form__field
					label.form__field-label Мощность, лс
					input(type="text" id="inp_02").form__field-input
				.form__field
					label.form__field-label Год выпуска
					.form__field-half
						select.form__field-select.js-select
							option от
							option 1990
							option 1991
							option 1992
							option 1993
							option 1994
							option 1995
					.form__field-half
						select.form__field-select.js-select
							option до
							option 1990
							option 1991
							option 1992
							option 1993
							option 1994
							option 1995
				.form__field
					label.form__field-label Цена, Р
					.form__field-half
						input(type="text" id="inp_03" placeholder="от").form__field-input
					.form__field-half
						input(type="text" id="inp_04" placeholder="до").form__field-input
			.form__row.form__row--hidden
				.form__field
					label.form__field-label Мощность, лс
					input(type="text" id="inp_02").form__field-input
				.form__field
					label.form__field-label Год выпуска
					.form__field-half
						select.form__field-select.js-select
							option от
							option 1990
							option 1991
							option 1992
							option 1993
							option 1994
							option 1995
					.form__field-half
						select.form__field-select.js-select
							option до
							option 1990
							option 1991
							option 1992
							option 1993
							option 1994
							option 1995
				.form__field
					label.form__field-label Цена, Р
					.form__field-half
						input(type="text" id="inp_03" placeholder="от").form__field-input
					.form__field-half
						input(type="text" id="inp_04" placeholder="до").form__field-input
			.form__row.form__row--hidden
				.form__field
					label.form__field-label Мощность, лс
					input(type="text" id="inp_02").form__field-input
				.form__field
					label.form__field-label Год выпуска
					.form__field-half
						select.form__field-select.js-select
							option от
							option 1990
							option 1991
							option 1992
							option 1993
							option 1994
							option 1995
					.form__field-half
						select.form__field-select.js-select
							option до
							option 1990
							option 1991
							option 1992
							option 1993
							option 1994
							option 1995
				.form__field
					label.form__field-label Цена, Р
					.form__field-half
						input(type="text" id="inp_03" placeholder="от").form__field-input
					.form__field-half
						input(type="text" id="inp_04" placeholder="до").form__field-input
			.form__row.form__row--action
				.form__row-left
					button(type="button").form__all-params.js-all-params  Все параметры
					button(type="button").form__reset.js-form-reset  Сбросить
				button(type="submit").form__submit.btn Показать 3456 предложений
