mixin downloads
	section.downloads
		.downloads__element
			p.downloads__filename Каталог оригинальных запчастей
			p.downloads__fileinfo Pdf, 20 мб
			a(href="#" download).btn Скачать
		.downloads__element
			p.downloads__filename Каталог оригинальных аксессуаров
			p.downloads__fileinfo Pdf, 17 мб
			a(href="#" download).btn Скачать
		.downloads__element
			p.downloads__filename Каталог оригинальных запчастей
			p.downloads__fileinfo Pdf, 20 мб
			a(href="#" download).btn Скачать
