.checkbox
	position: relative
	width: 100%
	& + .checkbox
		margin-top: 14px
	&__input
		position: absolute
		left: 0
		top: 0
		opacity: 0
		visibility: hidden
		&:checked ~ label
			&:before
				background-color: $red
			&:after
				opacity: 1
	&__label
		display: inline-block
		position: relative
		padding-left: 39px
		color: $white
		font-family: Roboto
		font-size: 16px
		line-height: 24px
		cursor: pointer
		&:hover
			&:before
				background-color: $red
		&:before
			content: ''
			position: absolute
			left: 0
			top: 2px
			width: 16px
			height: 16px
			border: 2px solid $white
			background-color: transparent
			transition: background .5s
			cursor: pointer
		&:after
			content: ''
			position: absolute
			left: 5px
			top: 7px
			width: 12px
			height: 4px
			border-left: 2px solid $white
			border-bottom: 2px solid $white
			transform: rotate(-45deg)
			opacity: 0
			transition: opacity .5s
			cursor: pointer
