mixin inews
	section.inews
		.container-1
			.inews__over
				.inews__row
					p.inews__title Новости
					a(href="#").btn.btn--white Все новости
				.inews__elements
					.inews__item
						data.inews__data 04 февраля 2019
						a(href="#").inews__name Обновлен автопарк
						.inews__text
							p Приглашаем всех tпринять участие в розыгрыше шин фирмы “Continental”! Розыгрыш комплектов зимней и летней резины будет Приглашаем всех tпринять участие в розыгрыше шин фирмы “Continental”! Розыгрыш комплектов зимней и летней резины будет

					.inews__item
						data.inews__data 04 февраля 2019
						a(href="#").inews__name Страховка в подарок для клиентов Tradein
						.inews__text
							p Приглашаем 123123123 tприasdasнять участие в розыгрыше шин фирмы “Continental”! Розыгрыш комплектов зимней и лasdетней резины будет Приглашаем всех tпринять участие в розыгрыше шин фирмы “Continental”! Розыгрыш комплектов зимней и летней резины будет

			.ireviews
				.ireviews__row
					p.ireviews__title Отзывы клиентов
					a(href="#").btn.btn--white Все отзывы
				.ireviews__element
					p.ireviews__name Игорь Епифанцев:
					.ireviews__text
						p Мне у вас нравится! Брали жене машину, нас проконсультировали, показали все. Вы молодцы! Просто здорово! Особенно впечатлил уровень компетенции Особенно впечатлил уровень компетенции Особенно впечатлил уровень компетенции Особенно впечатлил уровень компетенции
