include blocks/blocks

doctype html
html(lang="ru")
	+head
	body
		+header(true)
		main.main
			.title
				.container-1
					+breadcrumbs
					h1 Аукцион
			section.auction
				.container-1
					.auction__legend
						p.auction__legend-item.auction__legend-item--win
							span
							| Лот, который вы выйграли, обозначен зеленым цветом.
						p.auction__legend-item.auction__legend-item--passed
							span
							| Лот, который вы проиграли, обозначен бордовым цветом.

					.auction__topbar
						.auction__topbar-left
							button(type="button").auction__tab-link Активные лоты
							button(type="button").auction__tab-link Мои лоты
							button(type="button").auction__tab-link.active Завершённые

						.auction__topbar-right
							button(type="button").auction__filter-open.js-open-filter Поиск авто

					.auction__filter
						+filter
					
					section.icatalog.icatalog--auction
						.icatalog__list
							.icatalog__element
								.icatalog__photos
									.swiper-container.js-catalog-slider
										.swiper-wrapper
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
													img(src="./img/catalog-photo-3.jpg", alt="")
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-2.jpg", data-fancybox='gallery-1')
													img(src="./img/catalog-photo-1.jpg", alt="")
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
													img(src="./img/catalog-photo-3.jpg", alt="")
										.swiper-pagination

								.icatalog__info
									.icatalog__info-top
										.icatalog__info-col.icatalog__info-col--45per
											a(href="#").icatalog__car Лот № 92044 Peugeot 4007
											p.icatalog__char 2008 г.в., 241 534 км, Внедорожник 5 Door, СVT, Бензин Инжектор, 170 лс
										.icatalog__info-col.icatalog__info-col--22per
											.icatalog__costs
												p.icatalog__costs-label Текущая цена
												p.icatalog__costs-value
													b 400 800 руб
											.icatalog__costs
												p.icatalog__costs-label Начальная цена
												p.icatalog__costs-value 380 800 руб
											.icatalog__costs
												p.icatalog__costs-label Шаг аукциона
												p.icatalog__costs-value 10 000 руб
											
										.icatalog__info-col.icatalog__info-col--30per
											.icatalog__costs
												p.icatalog__costs-value
													b Завершён

									.icatalog__info-bottom
										.icatalog__autocenter Регинас Профи, Екатеринбург
											p.icatalog__autocenter-adress ул. Высоцкого, 3
							.icatalog__element.icatalog__element--passed
								.icatalog__photos
									.swiper-container.js-catalog-slider
										.swiper-wrapper
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-2.jpg", data-fancybox='gallery-2')
													img(src="./img/catalog-photo-2.jpg", alt="")
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-2')
													img(src="./img/catalog-photo-3.jpg", alt="")
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-1.jpg", data-fancybox='gallery-2')
													img(src="./img/catalog-photo-1.jpg", alt="")
										.swiper-pagination

								.icatalog__info
									.icatalog__info-top
										.icatalog__info-col.icatalog__info-col--45per
											a(href="#").icatalog__car Лот № 92044 Peugeot 4007
											p.icatalog__char 2008 г.в., 241 534 км, Внедорожник 5 Door, СVT, Бензин Инжектор, 170 лс
										.icatalog__info-col.icatalog__info-col--22per
											.icatalog__costs
												p.icatalog__costs-label Текущая цена
												p.icatalog__costs-value
													b 400 800 руб
											.icatalog__costs
												p.icatalog__costs-label Начальная цена
												p.icatalog__costs-value 380 800 руб
											.icatalog__costs
												p.icatalog__costs-label Шаг аукциона
												p.icatalog__costs-value 10 000 руб
											
										.icatalog__info-col.icatalog__info-col--30per.icatalog__info-col--sbflex
											.icatalog__costs
												p.icatalog__costs-value
													b Завершён

											.icatalog__status Статус участия 
												p Проигрыш

											.icatalog__costs
												p.icatalog__costs-label Ваша цена
												p.icatalog__costs-value 540 000 руб

									.icatalog__info-bottom
										.icatalog__autocenter Регинас Профи, Екатеринбург
											p.icatalog__autocenter-adress ул. Высоцкого, 3
							.icatalog__element.icatalog__element--win
								.icatalog__photos
									.swiper-container.js-catalog-slider
										.swiper-wrapper
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-2.jpg", data-fancybox='gallery-2')
													img(src="./img/catalog-photo-2.jpg", alt="")
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-2')
													img(src="./img/catalog-photo-3.jpg", alt="")
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-1.jpg", data-fancybox='gallery-2')
													img(src="./img/catalog-photo-1.jpg", alt="")
										.swiper-pagination

								.icatalog__info
									.icatalog__info-top
										.icatalog__info-col.icatalog__info-col--45per
											a(href="#").icatalog__car Лот № 92044 Peugeot 4007
											p.icatalog__char 2008 г.в., 241 534 км, Внедорожник 5 Door, СVT, Бензин Инжектор, 170 лс
										.icatalog__info-col.icatalog__info-col--22per
											.icatalog__costs
												p.icatalog__costs-label Текущая цена
												p.icatalog__costs-value
													b 400 800 руб
											.icatalog__costs
												p.icatalog__costs-label Начальная цена
												p.icatalog__costs-value 380 800 руб
											.icatalog__costs
												p.icatalog__costs-label Шаг аукциона
												p.icatalog__costs-value 10 000 руб
											
										.icatalog__info-col.icatalog__info-col--30per.icatalog__info-col--sbflex
											.icatalog__costs
												p.icatalog__costs-value
													b Завершён

											.icatalog__status Статус участия 
												p Проигрыш

											.icatalog__costs
												p.icatalog__costs-label Ваша цена
												p.icatalog__costs-value 540 000 руб

									.icatalog__info-bottom
										.icatalog__autocenter Регинас Профи, Екатеринбург
											p.icatalog__autocenter-adress ул. Высоцкого, 3
							.icatalog__element.icatalog__element--passed
								.icatalog__photos
									.swiper-container.js-catalog-slider
										.swiper-wrapper
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-2.jpg", data-fancybox='gallery-2')
													img(src="./img/catalog-photo-2.jpg", alt="")
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-2')
													img(src="./img/catalog-photo-3.jpg", alt="")
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-1.jpg", data-fancybox='gallery-2')
													img(src="./img/catalog-photo-1.jpg", alt="")
										.swiper-pagination

								.icatalog__info
									.icatalog__info-top
										.icatalog__info-col.icatalog__info-col--45per
											a(href="#").icatalog__car Лот № 92044 Peugeot 4007
											p.icatalog__char 2008 г.в., 241 534 км, Внедорожник 5 Door, СVT, Бензин Инжектор, 170 лс
										.icatalog__info-col.icatalog__info-col--22per
											.icatalog__costs
												p.icatalog__costs-label Текущая цена
												p.icatalog__costs-value
													b 400 800 руб
											.icatalog__costs
												p.icatalog__costs-label Начальная цена
												p.icatalog__costs-value 380 800 руб
											.icatalog__costs
												p.icatalog__costs-label Шаг аукциона
												p.icatalog__costs-value 10 000 руб
											
										.icatalog__info-col.icatalog__info-col--30per.icatalog__info-col--sbflex
											.icatalog__costs
												p.icatalog__costs-value
													b Завершён

											.icatalog__status Статус участия 
												p Проигрыш

											.icatalog__costs
												p.icatalog__costs-label Ваша цена
												p.icatalog__costs-value 540 000 руб

									.icatalog__info-bottom
										.icatalog__autocenter Регинас Профи, Екатеринбург
											p.icatalog__autocenter-adress ул. Высоцкого, 3
							.icatalog__element
								.icatalog__photos
									.swiper-container.js-catalog-slider
										.swiper-wrapper
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
													img(src="./img/catalog-photo-3.jpg", alt="")
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-2.jpg", data-fancybox='gallery-1')
													img(src="./img/catalog-photo-1.jpg", alt="")
											.swiper-slide.icatalog__photos-slide
												a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
													img(src="./img/catalog-photo-3.jpg", alt="")
										.swiper-pagination

								.icatalog__info
									.icatalog__info-top
										.icatalog__info-col.icatalog__info-col--45per
											a(href="#").icatalog__car Лот № 92044 Peugeot 4007
											p.icatalog__char 2008 г.в., 241 534 км, Внедорожник 5 Door, СVT, Бензин Инжектор, 170 лс
										.icatalog__info-col.icatalog__info-col--22per
											.icatalog__costs
												p.icatalog__costs-label Текущая цена
												p.icatalog__costs-value
													b 400 800 руб
											.icatalog__costs
												p.icatalog__costs-label Начальная цена
												p.icatalog__costs-value 380 800 руб
											.icatalog__costs
												p.icatalog__costs-label Шаг аукциона
												p.icatalog__costs-value 10 000 руб
											
										.icatalog__info-col.icatalog__info-col--30per
											.icatalog__costs
												p.icatalog__costs-value
													b Завершён

									.icatalog__info-bottom
										.icatalog__autocenter Регинас Профи, Екатеринбург
											p.icatalog__autocenter-adress ул. Высоцкого, 3
					+pagination
		+footer
		+hidden-blocks
		+scripts
