include blocks/blocks

doctype html
html(lang="ru")
	+head
	body
		+header(false)
		main.main
			.title
				.container-1
					+breadcrumbs
					h1 XRAY CROSS

			.container-1
				+preview-slider

				.card
					.card__row
						ul.card__info-list
							li.card__info-item.card__info-item--price Цена от 
								span.red 549 000 руб
							li.card__info-item.card__info-item--profit Выгода от 
								span 70 000 руб
							li.card__info-item.card__info-item--credit В кредит от 
								span 7 500 руб/мес

						.present
							p.present__title в Подарок
							.present__items
								.present__item
									.present__item-overimg
										img(src="./img/present-img-1.png" alt="").present__item-img
									p.present__item-title GPS навигатор
								.present__item
									.present__item-overimg
										img(src="./img/present-img-2.png" alt="").present__item-img
									p.present__item-title Комплект зимних шин

					.card__row
						a(href="#").card__btn.btn.btn--blue Рассчитать кредит
						a(href="#").card__btn.btn.btn--blue Рассчитать лизинг
						a(href="#").card__btn.btn.btn--blue Рассчитать КАСКО
						a(href="#").card__btn.btn Забронировать

				+car-characteristics

				.offer
					.offer__row
						.offer__col
							.offer__title Хочу купить 
								span LADA XRAY CROSS 1,6л 16-кл., 5МТ, 106 л.с.
						.offer__col
							.checkbox
								input(type="checkbox" id="chbx_01").checkbox__input
								label(for="chbx_01").checkbox__label Нужен кредит
							.checkbox
								input(type="checkbox" id="chbx_02").checkbox__input
								label(for="chbx_02").checkbox__label Хочу сдать свою машину в зачет
							.checkbox
								input(type="checkbox" id="chbx_03").checkbox__input
								label(for="chbx_03").checkbox__label Нужна страховка
							.checkbox
								input(type="checkbox" id="chbx_04").checkbox__input
								label(for="chbx_04").checkbox__label Хочу особую скидку
						.offer__col
							.offer__text
								p В случае возникновения вопросов по поводу условий приобретения, способов кредитования, скидок и прочего вы можете обратиться по телефону: +7 (351) 2 555 700
							a(href="#").offer__btn.btn Заказать автомобиль

				.action
					.action__col
						ul.action__list
							li.action__list-item
								a(href="#").action__list-href Выгода 50 000 руб. - при покупке по утилизации
							li.action__list-item
								a(href="#").action__list-href Выгода 40 000 руб. - при покупке по trade-in
							li.action__list-item
								a(href="#").action__list-href Выгода 20 000 руб. по программе LADA Finance
							li.action__list-item
								a(href="#").action__list-href КАСКО - выгоднее на 50%
							li.action__list-item
								a(href="#").action__list-href Добрый кредит - ставка всего 3%
							li.action__list-item
								a(href="#").action__list-href Дарим страховку!

						a(href="#").action__all-href.btn Все новости и акции

					.action__col
						.action__slider
							.swiper-container.js-swiper-action
								.swiper-wrapper
									- for (var i = 1; i < 5; i++) {
										.swiper-slide
											a(href="#").action__slider-overimg
												img(src="./img/action-img-1.jpg" alt="").action__slider-img
									- }
							.swiper-pagination.swiper-pagination--blue

				.callback
					.callback__title Выгодный заказ по телефону 
						a(href="tel:+73512555700") +7 (351) 2-555-700

				.ibanner
					a(href="#")
						img(src="./img/banner-2.jpg" alt="")

				.tabs.js-tabs
					ul.tabs__nav
						li.tabs__nav-item
							button(type="button" data-tabs-nav="01").tabs__nav-button.tabs__nav-button--active 
								span Виртуальный тур по автомобилю
						li.tabs__nav-item
							button(type="button" data-tabs-nav="02").tabs__nav-button
								span Виртуальный тур по салону
					ul.tabs__list
						li(data-tabs-item="01").tabs__list-item.tabs__list-item--active.swiper-active
							.tabs__slider
								.swiper-container.js-swiper-tabs
									.swiper-wrapper
										- for (var i = 1; i < 5; i++) {
											.swiper-slide
												a(href="#").tabs__slider-overimg
													img(src="./img/tabs-gallery-img-1.jpg" alt="").tabs__slider-img
										- }
								.swiper-pagination.swiper-pagination--blue

						li(data-tabs-item="02").tabs__list-item
							.tabs__slider
								.swiper-container.js-swiper-tabs
									.swiper-wrapper
										- for (var i = 1; i < 5; i++) {
											.swiper-slide
												a(href="#").tabs__slider-overimg
													img(src="./img/tabs-gallery-img-1.jpg" alt="").tabs__slider-img
										- }
								.swiper-pagination.swiper-pagination--blue

				+downloads

				.compare
					h3.compare__title Cравнение LADA XRay Cross
					.compare__wrap
						.compare__row.compare__row--head
							.compare__cell.compare__cell--car
								p.compare__cell-text Автомобиль для сравнения
							.compare__cell.compare__cell--eng
								p.compare__cell-text Двигатель, л.с.
							.compare__cell.compare__cell--gap
								p.compare__cell-text Клиренм, мм
							.compare__cell.compare__cell--trunk
								p.compare__cell-text Багажник, л
							.compare__cell.compare__cell--mile
								p.compare__cell-text Пробег на полном баке, км
							.compare__cell.compare__cell--price
								p.compare__cell-text Цена, руб

						.compare__row
							.compare__cell.compare__cell--car
								.swiper-container.js-swiper-comapre-cars
									.swiper-wrapper
										.swiper-slide(data-eng="80" data-gap="90" data-trunk="80" data-mile="75" data-price="348800")
											.compare__cars
												.compare__cars-overimg
													img(src="./img/compare-cars-img-1.png" alt="").compare__cars-img
												p.compare__cars-title Lada Granta
										.swiper-slide(data-eng="40" data-gap="100" data-trunk="15" data-mile="50" data-price="448800")
											.compare__cars
												.compare__cars-overimg
													img(src="./img/compare-cars-img-2.png" alt="").compare__cars-img
												p.compare__cars-title Lada Granta2
								.swiper-buttons
									.swiper-button-prev
									.swiper-button-next
							.compare__cell.compare__cell--eng
								.raiting
									.raiting__ind(style="width: 80%")
							.compare__cell.compare__cell--gap
								.raiting
									.raiting__ind(style="width: 90%")
							.compare__cell.compare__cell--trunk
								.raiting
									.raiting__ind(style="width: 80%")
							.compare__cell.compare__cell--mile
								.raiting
									.raiting__ind(style="width: 75%")
							.compare__cell.compare__cell--price
								p.compare__cell-text
									span 348 000
									|  руб

						.compare__row
							.compare__cell.compare__cell--car
								.swiper-container.js-swiper-comapre-cars
									.swiper-wrapper
										.swiper-slide(data-eng="80" data-gap="90" data-trunk="80" data-mile="75" data-price="348800")
											.compare__cars
												.compare__cars-overimg
													img(src="./img/compare-cars-img-1.png" alt="").compare__cars-img
												p.compare__cars-title Lada Granta3
										.swiper-slide(data-eng="40" data-gap="100" data-trunk="15" data-mile="50" data-price="448800")
											.compare__cars
												.compare__cars-overimg
													img(src="./img/compare-cars-img-2.png" alt="").compare__cars-img
												p.compare__cars-title Lada Granta4
								.swiper-buttons
									.swiper-button-prev
									.swiper-button-next
							.compare__cell.compare__cell--eng
								.raiting
									.raiting__ind(style="width: 80%")
							.compare__cell.compare__cell--gap
								.raiting
									.raiting__ind(style="width: 90%")
							.compare__cell.compare__cell--trunk
								.raiting
									.raiting__ind(style="width: 80%")
							.compare__cell.compare__cell--mile
								.raiting
									.raiting__ind(style="width: 75%")
							.compare__cell.compare__cell--price
								p.compare__cell-text
									span 432 000
									|  руб

						.compare__row
							.compare__cell.compare__cell--car
								.swiper-container.js-swiper-comapre-cars
									.swiper-wrapper
										.swiper-slide(data-eng="80" data-gap="90" data-trunk="80" data-mile="75" data-price="348800")
											.compare__cars
												.compare__cars-overimg
													img(src="./img/compare-cars-img-1.png" alt="").compare__cars-img
												p.compare__cars-title Lada Granta3
										.swiper-slide(data-eng="40" data-gap="100" data-trunk="15" data-mile="50" data-price="448800")
											.compare__cars
												.compare__cars-overimg
													img(src="./img/compare-cars-img-2.png" alt="").compare__cars-img
												p.compare__cars-title Lada Granta4
								.swiper-buttons
									.swiper-button-prev
									.swiper-button-next
							.compare__cell.compare__cell--eng
								.raiting
									.raiting__ind(style="width: 80%")
							.compare__cell.compare__cell--gap
								.raiting
									.raiting__ind(style="width: 90%")
							.compare__cell.compare__cell--trunk
								.raiting
									.raiting__ind(style="width: 80%")
							.compare__cell.compare__cell--mile
								.raiting
									.raiting__ind(style="width: 75%")
							.compare__cell.compare__cell--price
								p.compare__cell-text
									span 559 000
									|  руб

						.compare__row
							.compare__cell.compare__cell--car
								.swiper-container.js-swiper-comapre-cars
									.swiper-wrapper
										.swiper-slide(data-eng="80" data-gap="90" data-trunk="80" data-mile="75" data-price="348800")
											.compare__cars
												.compare__cars-overimg
													img(src="./img/compare-cars-img-1.png" alt="").compare__cars-img
												p.compare__cars-title Lada Granta3
										.swiper-slide(data-eng="40" data-gap="100" data-trunk="15" data-mile="50" data-price="448800")
											.compare__cars
												.compare__cars-overimg
													img(src="./img/compare-cars-img-2.png" alt="").compare__cars-img
												p.compare__cars-title Lada Granta4
								.swiper-buttons
									.swiper-button-prev
									.swiper-button-next
							.compare__cell.compare__cell--eng
								.raiting
									.raiting__ind(style="width: 80%")
							.compare__cell.compare__cell--gap
								.raiting
									.raiting__ind(style="width: 90%")
							.compare__cell.compare__cell--trunk
								.raiting
									.raiting__ind(style="width: 80%")
							.compare__cell.compare__cell--mile
								.raiting
									.raiting__ind(style="width: 75%")
							.compare__cell.compare__cell--price
								p.compare__cell-text
									span 454 000
									|  руб

				.overview
					h3.overview__title Обзор LADA XRay CROSS
					.overview__row
						.overview__overimg
							img(src="./img/overview-img.jpg" alt="").overview__img
						.overview__right
							.overview__text
								.overview__text-item
									p
										b Практичность
									p LADA XRAY создан по принципу «Автомобиль - мой второй дом»: интерьер машины комфортени рационален.
									p В салоне - набор ниш и подстаканников, карманы в обивках дверей, выдвижной контейнер под передним пассажирским сиденьем, охлаждаемый перчаточный ящик. В багажнике - крепления для сетки, пластиковые ниши за арками задних колес. Двойной пол в багажном отделении при сложенных задних сиденьях образует ровную площадку - это значительно облегчает транспортировку вещей всех форм и размеров. Заднее сиденье складывается в пропорции 60/40 - все это помогает удобно перевезти габаритный груз. 
								.overview__text-hidden
									p В салоне - набор ниш и подстаканников, карманы в обивках дверей, выдвижной контейнер под передним пассажирским сиденьем, охлаждаемый перчаточный ящик. В багажнике - крепления для сетки, пластиковые ниши за арками задних колес. Двойной пол в багажном отделении при сложенных задних сиденьях образует ровную площадку - это значительно облегчает транспортировку вещей всех форм и размеров. Заднее сиденье складывается в пропорции 60/40 - все это помогает удобно перевезти габаритный груз.
								button(type="button").overview__text-toggle.js-toggle-overview-text Узнать больше

				section.icatalog.icatalog--tile.icatalog--similar-cars
					h3.icatalog__title Похожие автомобили
					.icatalog__slider
						.swiper-buttons
							.swiper-button-prev
							.swiper-button-next
						.swiper-container.js-swiper-icatalog
							.swiper-wrapper
								- for (var i=0; i<4;i++) {
									.swiper-slide
										.icatalog__element.icatalog__element--vert
											.icatalog__photos
												.swiper-container.js-catalog-slider
													.swiper-wrapper
														.swiper-slide.icatalog__photos-slide
															a(href="./img/catalog-photo-1.jpg", data-fancybox='gallery-1')
																img(src="./img/catalog-photo-1.jpg", alt="")
														.swiper-slide.icatalog__photos-slide
															a(href="./img/catalog-photo-2.jpg", data-fancybox='gallery-1')
																img(src="./img/catalog-photo-2.jpg", alt="")
														.swiper-slide.icatalog__photos-slide
															a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
																img(src="./img/catalog-photo-3.jpg", alt="")
													.swiper-pagination

											.icatalog__info
												.icatalog__info-top
													.icatalog__info-col.icatalog__info-col--45per
														a(href="#").icatalog__car Mercedes GLE 350
														p.icatalog__char Внедорожник 5 дв. / 3.2 л / 349 л.с
														p.icatalog__char Автомат / Бензин
													.icatalog__info-col.icatalog__info-col--35per
														p.icatalog__cost 2 248 800 руб
														p.icatalog__old-cost 2 645 000 руб
														.icatalog__credit от 14 768 Р/мес
															.icatalog__credit-modal
																.icatalog__credit-over
																	p.icatalog__credit-title Заголовок поясняющий условия кредитования
																	.icatalog__credit-text
																		p Обращаем ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.
													.icatalog__info-row.icatalog__info-row--30per
														p.icatalog__year 2017 г.
														p.icatalog__run 78 951 км

												.icatalog__info-bottom
													.icatalog__autocenter Регинас Профи, Екатеринбург
														p.icatalog__autocenter-adress ул. Высоцкого, 3
													a(href="#").btn.icatalog__btn Оставить заявку
								- }

				section.icatalog.icatalog--tile.icatalog--watched-cars
					h3.icatalog__title Ранее просмотренные автомобили
					.icatalog__slider
						.swiper-buttons
							.swiper-button-prev
							.swiper-button-next
						.swiper-container.js-swiper-icatalog
							.swiper-wrapper
								- for (var i=0; i<5;i++) {
									.swiper-slide
										.icatalog__element.icatalog__element--vert
											.icatalog__photos
												.swiper-container.js-catalog-slider
													.swiper-wrapper
														.swiper-slide.icatalog__photos-slide
															a(href="./img/catalog-photo-1.jpg", data-fancybox='gallery-1')
																img(src="./img/catalog-photo-1.jpg", alt="")
														.swiper-slide.icatalog__photos-slide
															a(href="./img/catalog-photo-2.jpg", data-fancybox='gallery-1')
																img(src="./img/catalog-photo-2.jpg", alt="")
														.swiper-slide.icatalog__photos-slide
															a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
																img(src="./img/catalog-photo-3.jpg", alt="")
													.swiper-pagination

											.icatalog__info
												.icatalog__info-top
													.icatalog__info-col.icatalog__info-col--45per
														a(href="#").icatalog__car Mercedes GLE 350
														p.icatalog__char Внедорожник 5 дв. / 3.2 л / 349 л.с
														p.icatalog__char Автомат / Бензин
													.icatalog__info-col.icatalog__info-col--35per
														p.icatalog__cost 2 248 800 руб
														p.icatalog__old-cost 2 645 000 руб
														.icatalog__credit от 14 768 Р/мес
															.icatalog__credit-modal
																.icatalog__credit-over
																	p.icatalog__credit-title Заголовок поясняющий условия кредитования
																	.icatalog__credit-text
																		p Обращаем ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.
													.icatalog__info-row.icatalog__info-row--30per
														p.icatalog__year 2017 г.
														p.icatalog__run 78 951 км

												.icatalog__info-bottom
													.icatalog__autocenter Регинас Профи, Екатеринбург
														p.icatalog__autocenter-adress ул. Высоцкого, 3
													a(href="#").btn.icatalog__btn Оставить заявку
								- }

				.iseo
					ul.iseo__banners
						li.iseo__banners-item
							a(href="#").iseo__banners-overimg
								img(src="./img/iseo-img-1.jpg" alt="").iseo__banners-img
						li.iseo__banners-item
							a(href="#").iseo__banners-overimg
								img(src="./img/iseo-img-2.jpg" alt="").iseo__banners-img
						li.iseo__banners-item
							a(href="#").iseo__banners-overimg
								img(src="./img/iseo-img-3.jpg" alt="").iseo__banners-img

		+footer
		+hidden-blocks
		+scripts

