include blocks/blocks

doctype html
html(lang="ru")
	+head
	body.index
		+header(false)
		main.main
			+hero
			+icatalog
			+ipluses
			+discounts
			section.ibanner
				.container-1
					a(href="#")
						img(src="./img/banner-1.jpg", alt="")
			+inews
		+footer
		+hidden-blocks
		+scripts
