include standart/__head
include standart/__footer
include standart/__scripts
include standart/header
include standart/hidden-blocks
include standart/breadcrumbs

include hero/hero

include icatalog/icatalog

include ipluses/ipluses

include discounts/discounts

include inews/inews

include preview-slider/preview-slider
