mixin icatalog
	section.icatalog
		.container-1
			.icatalog__cities Новые автомобили
				a(href="#autocenter", data-fancybox="autocenter").icatalog__cities-link Челябинск
			.icatalog__list
				.icatalog__element
					.icatalog__photos
						.swiper-container.js-catalog-slider
							.swiper-wrapper
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-1.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-1.jpg", alt="")
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-2.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-2.jpg", alt="")
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-3.jpg", alt="")
							.swiper-pagination

					.icatalog__info
						.icatalog__info-top
							.icatalog__info-col.icatalog__info-col--45per
								p.icatalog__car Mercedes GLE 350
								p.icatalog__char Внедорожник 5 дв. / 3.2 л / 349 л.с
								p.icatalog__char Автомат / Бензин
							.icatalog__info-col.icatalog__info-col--35per
								p.icatalog__cost 2 248 800 руб
								p.icatalog__old-cost 2 645 000 руб
								.icatalog__credit от 14 768 Р/мес
									.icatalog__credit-modal
										.icatalog__credit-over
											p.icatalog__credit-title Заголовок поясняющий условия кредитования
											.icatalog__credit-text
												p Обращаем ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.
							p.icatalog__year 2017 г.
							p.icatalog__run 78 951 км

						.icatalog__info-bottom
							.icatalog__autocenter Регинас Профи, Екатеринбург
								p.icatalog__autocenter-adress ул. Высоцкого, 3
							a(href="#").btn.icatalog__btn Оставить заявку
				.icatalog__element
					.icatalog__photos
						.swiper-container.js-catalog-slider
							.swiper-wrapper
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-3.jpg", alt="")
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-2.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-2.jpg", alt="")
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-3.jpg", alt="")
							.swiper-pagination

					.icatalog__info
						.icatalog__info-top
							.icatalog__info-col.icatalog__info-col--45per
								p.icatalog__car Mercedes GLE 350
								p.icatalog__char Внедорожник 5 дв. / 3.2 л / 349 л.с
								p.icatalog__char Автомат / Бензин
							.icatalog__info-col.icatalog__info-col--35per
								p.icatalog__cost 2 248 800 руб
								p.icatalog__old-cost 2 645 000 руб
								.icatalog__credit от 14 768 Р/мес
									.icatalog__credit-modal
										.icatalog__credit-over
											p.icatalog__credit-title Заголовок поясняющий условия кредитования
											.icatalog__credit-text
												p Обращаем ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.
							p.icatalog__year 2017 г.
							p.icatalog__run 78 951 км

						.icatalog__info-bottom
							.icatalog__autocenter Регинас Профи, Екатеринбург
								p.icatalog__autocenter-adress ул. Высоцкого, 3
							a(href="#").btn.icatalog__btn Оставить заявку
				.icatalog__element
					.icatalog__photos
						.swiper-container.js-catalog-slider
							.swiper-wrapper
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-2.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-2.jpg", alt="")
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-2.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-2.jpg", alt="")
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-3.jpg", alt="")
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-3.jpg", alt="")
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-3.jpg", alt="")
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-3.jpg", alt="")
								.swiper-slide.icatalog__photos-slide
									a(href="./img/catalog-photo-3.jpg", data-fancybox='gallery-1')
										img(src="./img/catalog-photo-3.jpg", alt="")
							.swiper-pagination

					.icatalog__info
						.icatalog__info-top
							.icatalog__info-col.icatalog__info-col--45per
								p.icatalog__car Mercedes GLE 350
								p.icatalog__char Внедорожник 5 дв. / 3.2 л / 349 л.с
								p.icatalog__char Автомат / Бензин
							.icatalog__info-col.icatalog__info-col--35per
								p.icatalog__cost 2 248 800 руб
								p.icatalog__old-cost 2 645 000 руб
								.icatalog__credit от 14 768 Р/мес
									.icatalog__credit-modal
										.icatalog__credit-over
											p.icatalog__credit-title Заголовок поясняющий условия кредитования
											.icatalog__credit-text
												p Обращаем ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации.
							p.icatalog__year 2017 г.
							p.icatalog__run 78 951 км

						.icatalog__info-bottom
							.icatalog__autocenter Регинас Профи, Екатеринбург
								p.icatalog__autocenter-adress ул. Высоцкого, 3
							a(href="#").btn.icatalog__btn Оставить заявку
			a(href="#").icatalog__show-more
				span Показать все 1356 автомобиля в наличии
