mixin hero
	section.hero
		.swiper-container.js-hero-slider
			.swiper-wrapper
				a(href="#").swiper-slide
					.hero__slide(style="background-image: url('./img/slider-banner.jpg')")
						.container-1
							p.hero__title Обменяйте старое авто на новое
							p.hero__text Система Trade-in сведет трудозатраты на продажу и обмен автомобиля к минимуму.
				a(href="#").swiper-slide
					.hero__slide(style="background-image: url('./img/slider-banner.jpg')")
						.container-1
							p.hero__title 2Обменяйте старое авто на новое
							p.hero__text 2Система Trade-in сведет трудозатраты на продажу и обмен автомобиля к минимуму.
			.swiper-pagination
			.swiper-button-prev
			.swiper-button-next
