mixin pagination
	ul.pagination.pagination--new
		li.pagination__item.pagination__item--prev
			a(href="#").pagination__item-href.pagination__item-href--disable
		li.pagination__item
			a(href="#").pagination__item-href.pagination__item-href--active
				span 1
		li.pagination__item
			a(href="#").pagination__item-href
				span 2
		li.pagination__item
			a(href="#").pagination__item-href
				span 3
		li.pagination__item
			a(href="#").pagination__item-href
				span 4
		li.pagination__item
			a(href="#").pagination__item-href
				span 5
		li.pagination__item
			a(href="#").pagination__item-href
				span 6
		li.pagination__item
			a(href="#").pagination__item-href
				span 7
		li.pagination__item
			a(href="#").pagination__item-href
				span 8
		li.pagination__item
			.pagination__item-spacer
				span ...
		li.pagination__item
			a(href="#").pagination__item-href
				span 99
		li.pagination__item.pagination__item--next
			a(href="#").pagination__item-href
