mixin footer
	footer.footer&attributes(attributes)
		.footer__top
			.container-1
				nav.footer-nav
						ul.footer-nav__list
							li.footer-nav__item.active
								a(href="#").footer-nav__link Каталог
							li.footer-nav__item
								a(href="#").footer-nav__link Кредит
							li.footer-nav__item
								a(href="#").footer-nav__link Выкуп
							li.footer-nav__item
								a(href="#").footer-nav__link Комиссия
							li.footer-nav__item
								a(href="#").footer-nav__link Обмен
							li.footer-nav__item
								a(href="#").footer-nav__link О компании
				.footer__row
					.footer__cities
						p.footer__small-title Поиск авто в городе:
						ul.footer__cities-list
							li.footer__cities-item.active
								a(href="#").footer__cities-link Магнитогорск
							li.footer__cities-item
								a(href="#").footer__cities-link Екатеринбург
							li.footer__cities-item
								a(href="#").footer__cities-link Челябинск
							li.footer__cities-item
								a(href="#").footer__cities-link Миасс
					.footer__column
						.footer__phone
							p.footer__small-title Телефон:
							a(href="tel:83512395222").footer__phone-link 8 (351) 239-52-22
						.footer__mail
							p.footer__small-title Почта:
							a(href="mailto:trade-sv@reginas.ru").footer__mail-link trade-sv@reginas.ru
					.footer__text
						p «Регинас» — крупнейший автомобильный холдинг Южного Урала. Был основан в 1992 году. В настоящее время осуществляет свою деятельность в Челябинске и Магнитогорске. Имеет статус официального дилера следующих автомобильных марок: Nissan, Infiniti, Datsun, Hyundai, Mitsubishi, Skoda, Kia, Toyota, Opel.
		.footer__bottom
			.container-1
				p.copyrights ©  Автокомплекс «Регинас», 2019
				.developers
					a(href="https://dextra.ru" target="_blank").developers__href
						span.developers__dextra DEXTRA
						| Разработка
						br
						|сайта
