mixin hidden-blocks
	section.hidden-blocks
		#autocenter.popup
			.popup__top
				p.popup__title Выберите ближайший автоцентр
				.popup__subtext
					p Автоцентры находятся в четырех городах Челябинской и Свердловской областях, выберите автоцентр в вашем городе
			.popup__bottom
				.popup__autocenters
					.popup__autocenters-element
						p.popup__autocenters-city Челябинск
						a(href="#").popup__autocenters-link.active ул. Братьев Кашириных, 141А
						a(href="#").popup__autocenters-link Свердловский проспект, 5-Р
					.popup__autocenters-element
						p.popup__autocenters-city Екатеринбург
						a(href="#").popup__autocenters-link ул. Высоцкого, 3
					.popup__autocenters-element
						p.popup__autocenters-city Миасс
						a(href="#").popup__autocenters-link Тургоякское шоссе, 3/19
					.popup__autocenters-element
						p.popup__autocenters-city Магнитогорск
						a(href="#").popup__autocenters-link ул. Зеленый Лог, 53
