mixin ipluses
	section.ipluses
		.container-1
			.ipluses__item
				img(src="./img/pluses-icon-1.png", alt="").ipluses__img
				p.ipluses__item-text Выгодные условия
					br
					|автокредитования
			.ipluses__item
				img(src="./img/pluses-icon-2.png", alt="").ipluses__img
				p.ipluses__item-text Юридическая чистота
					br
					|при проведени сделок
			.ipluses__item
				img(src="./img/pluses-icon-3.png", alt="").ipluses__img
				p.ipluses__item-text Возможность обмена
					br
					|вашего авто на другое
