mixin car-characteristics
	section.car-characteristics
		p.car-characteristics__title Характеристики

		.car-characteristics__container
			.car-characteristics__column
				.car-characteristics__item
					p.car-characteristics__label Уникальный идентификатор
					p.car-characteristics__value WF0UXXGAGU6345656
				.car-characteristics__item
					p.car-characteristics__label Год
					p.car-characteristics__value 2004
				.car-characteristics__item
					p.car-characteristics__label Кузов
					p.car-characteristics__value Универсал 5 дв.
				.car-characteristics__item
					p.car-characteristics__label Цвет
					p.car-characteristics__value Синий
				.car-characteristics__item
					p.car-characteristics__label Пробег
					p.car-characteristics__value 136 000 км
			.car-characteristics__column
				.car-characteristics__item
					p.car-characteristics__label Двигатель
					p.car-characteristics__value 1.6 л / 84 л.с. / Бензин
				.car-characteristics__item
					p.car-characteristics__label Коробка
					p.car-characteristics__value Механическая
				.car-characteristics__item
					p.car-characteristics__label Привод
					p.car-characteristics__value Передний
				.car-characteristics__item
					p.car-characteristics__label Руль
					p.car-characteristics__value Левый
				.car-characteristics__item
					p.car-characteristics__label Состояние
					p.car-characteristics__value Не требует ремонта

			.car-characteristics__column
				.car-characteristics__item
					p.car-characteristics__label Владельцы
					p.car-characteristics__value 1 владелец
				.car-characteristics__item
					p.car-characteristics__label ПТС
					p.car-characteristics__value Оригинал
				.car-characteristics__item
					p.car-characteristics__label Таможня
					p.car-characteristics__value Растаможен
