mixin discounts
	section.discounts
		.container-1
			.discounts__top
				p.discounts__title Акции
				a(href="#").btn.discounts__btn Все акции
			.discounts__elements
				.discounts__elem(style="background-image: url('./img/discount-bg-1.jpg');")
					a(href="#").discounts__link
					p.discounts__text Страховка в подарок клиентам программы Tradein

				.discounts__elem(style="background-image: url('./img/discount-bg-2.jpg');")
					a(href="#").discounts__link
					p.discounts__text Ставки по кредиту снижены до 9,3%
